<html>
	<head>
		<title>Test</title>
		<script type="text/javascript" src = "/ng/Scripts/angular.js"></script>
		<script type="text/javascript" src = "module.js"></script>
	</head>

	<body ng-app="myModule">		
		<div ng-controller="myController">

			Rows to Display : <input type="number" step="1" min="0" max="5" ng-model="rowLimit"/>

			<table border = "1px" padding="5px">
				<thead>
					<th>Name</th>
					<th>dateOfBirth</th>
					<th>Gender</th>
					<th>Salary | number</th>
					<th>Salary | currency</th>
				</thead>

				<tbody>
					<tr ng-repeat="employee in employees | limitTo:rowLimit">
						<td>{{ employee.name | uppercase }}</td>
						<td>{{ employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
						<td>{{ employee.gender | lowercase}}</td>
						<td>{{ employee.salary | number:2 }}</td>
						<td>{{ employee.salary | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>